body{
    margin: 50px auto;
    width: 77%;
}

header{
    float:right;
    font-size: 1.9em;
    font-family:'Gill Sans';
    text-align:right;
}
nav ul{
    float:left;
    font-family:'Gill Sans';
    padding: 0px;
    list-style: none;
}

footer ul {
    font-family:'Gill Sans';
    padding: 0px;
    list-style: none;
}

nav ul li{
    display: inline;
    margin-right: 20px;
}

footer ul li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #999;

}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 1.9em;
    font-family:'Gill Sans';
}
h2 {
    font-size: 1.5em;
    font-family:'Gill Sans';
}
h3 {
    font-size: 1.3em;
    font-family:'Gill Sans';
    text-align:right;
}
p {
    font-size: 1.2em;
    font-family:'Gill Sans';
    line-height: 1.4em;
    color: #333;
    text-align: justify;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul {
    font-size: 1.2em;
    font-family:'Gill Sans';
    line-height: 1.4em;
    color: #333;
}

li {
    font-size: 1.2em;
    font-family:'Gill Sans';
    line-height: 1.4em;
    color: #333;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

br.cb { clear: both; }
